{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
    
    <div id="reg" class="card" style="width: 25rem;">
        <div class="card-body"></div>
        <h2>Register</h2>
        <form method="post" action="">{% csrf_token %}
            {{form.username.label}}<br>
            {{form.username}}<br><br>

            {{form.email.label}}<br>
            {{form.email}}<br><br>

            {{form.password1.label}}<br>
            {{form.password1}}<br><br>

            {{form.password2.label}}<br>
            {{form.password2}}<br><br>
            <input class="btn btn-primary" type="Submit" name="Create User" style="margin-left: 50px;">
        </form>
        </div>
    </div>
    
</body>
</html>
